<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        >
    <php>
        <env name="env" value="test" />
    </php>
    <testsuites>
        <testsuite name="To-do Sample Tests">
            <directory>./tests/src/</directory>
        </testsuite>
    </testsuites>
</phpunit>
